[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python app.py"
